
#nav-bar {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;

  .logo {
    float: left;
    width: 80px;
    height: 80px;
  }

  .header {
    float: left;
    margin-left: 10px;
    font-size: 2em;
    line-height: 2.5;
  }
}

#composeButton {
  float: right;
  font-size: 1.3em;
  border: 1.5px solid #000000;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  background-color: #e7fdff;
  color: #00a087;

  span {
    float: left;
    margin-right: 5px;
  }

  p {
    margin: 0;
    display: inline-block;
  }
}

#composeButton:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

@media (max-width: 450px) {
  #nav-bar {
    display: inline-grid;
    height: 155px;
  }

  #logoContainer {
    display: block;
    margin: auto;
  }

  #composeButton {
    width: 50%;
    margin: auto;
  }

}
